@media (min-width: 375px) {
  .o-container {
    max-width: 374px;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .o-container {
    max-width: 750px;
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .o-container {
    max-width: 970px;
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .o-container {
    max-width: 1170px;
    flex-direction: row;
  }
}
