:root {
  --white-color: hsl(0, 0%, 100%);
  --red-color: hsl(14, 86%, 42%);
  --green-color: hsl(159, 69%, 38%);
  --rose-50-color: hsl(20, 50%, 98%);
  --rose-100-color: hsl(13, 31%, 94%);
  --rose-300-color: hsl(14, 25%, 72%);
  --rose-400-color: hsl(7, 20%, 60%);
  --rose-500-color: hsl(12, 20%, 44%);
  --rose-900-color: hsl(14, 65%, 9%);
}
