@font-face {
  font-family: "Red Hat Text";
  src: url("assets/fonts/RedHatText-VariableFont_wght.ttf") format("ttf");
  font-weight: 100 700;
  font-style: normal;
  font-stretch: 1% 500%;
}

:root {
  --font-family: "Red Hat Text", sans-serif;
}
